@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  font-family: "Kanit", sans-serif;
}

.nonprofit-info {
  height: 35px;
  background-color: black;
  color: white;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  padding: 5px;
}
.cards {
  margin: 0;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.card {
  box-shadow: 0 0 10px rgba(36, 33, 33, 0.1);
  margin: 0;
  width: 300px;
  margin-left: 55px;

  border-radius: 25px;
}

#info {
  background-color: lightseagreen;
  width: 300px;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.cardContent {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: lightgrey;
  height: 360px;
}
#monkeypoxImg {
  display: flex;
  justify-content: center;
  height: 200px;
}

.imageMonkey {
  width: 300px;
}

.skinTitle {
  background-color: green;
  display: flex;
  justify-content: center;
  height: 65px;
  font-size: 22px;
  text-align: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#monkeyLink {
  text-decoration: none;
}

/* form: */
#form {
  width: 560px;
  margin-left: 260px;
  margin-top: 20px;
  border: 2px solid orangered;
  padding: 2rem;
}
label {
  display: block;
  padding: 1rem 0.25rem;
}
input,
textarea {
  display: block;
  width: 500px;
  border: 2px solid lightskyblue;
  padding: 5px;
}

select {
  display: block;
  margin: 0;
  width: 500px;
  padding: 5px;
  border: 2px solid lightskyblue;
}

#submit {
  margin-top: 2rem;
  padding: 5px;
  border: 0px;
  background-color: rgb(247, 242, 242);
}

/* non profit: */
.image img {
  width: 390px;
  margin: 18px;
}

.image {
  border: green;
  border-right-style: solid;
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.description {
  font-size: 30px;
  padding: 10px;
}
.nonProfitTitle {
  font-size: 50px;
}

.donatebtn {
  padding: 5px;
  border: 0px;
  background-color: lightseagreen;
}
.readbtn {
  padding: 5px;
  border: 0px;
  background-color: lightgreen;
}

.second-layer {
  display: inline-block;
}

.second-layer{
  margin-top: 20px;
  width: 1890px;
  text-align: center;
}

.iFrame-Div{
  display: flex;
  justify-content: space-between;
}

.ok{
  background-color: black;
  height: 30px;
  color: white;
  text-align: center;
}